/***********************
ENTIREITE
***********************/

body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #555;
}

body {
  background: radial-gradient(ellipse, rgba(255,255,255,0.5), rgba(255,255,255,0.9)), url('../assets/vegetables-for-food-wide.jpg');
  background-attachment: fixed;
  background-position: 70% 90%;
}

.container {
  margin-top: 50px;
  margin-bottom: -55px;
  padding: 5% 0;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}

a {
  color: #1b8a86;
}
a:hover {
  text-decoration: none;
  color: #cc8400;
}

.btn {
  /*box-shadow: inset -2px -2px 10px 2px rgba(0,0,0,.2);*/
  border-radius: 25px;
  background-color: #ffae19;
  text-transform: uppercase;
  font-weight: 500;
}

.btn:hover, .btn:focus, .btn:active:focus {
  /*background-color: #ffc04c;*/
  /*border-color: #ffc04c;*/
  background-color: #fff6e5;
  border: solid 2px #ffae19;
  color: #ffae19;
  outline:none;
}

img.img-thumbnail {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

.readonly {
  cursor: default;
}

#neighborhood:focus {
  outline: none;
  box-shadow: 0 0 5px 1px rgba(255,174,25,0.7);
  border: solid 1px #ccc;
}

input.form-control:focus,
select.form-control:focus {
  outline: none;
  box-shadow: 0 0 5px 1px rgba(35,181,175, 0.5);
  border: solid 1px #ccc;
}

*:focus {
  outline: none;
}

/***********************
FOOTER
***********************/
.container:after {
  content: "";
  display: block;
  height: 75px;
}

.container2 {
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
}

.footer {
  background-color: rgba(58,58,60,0.8);
  height: 55px;
  width: 100%;
  position:fixed;
  bottom: 0%;
  text-align: center;
}

.footer__heading {
  margin-bottom: 12px;
  color: #fff;
  font-weight: 400;
}

.footer__heading a {
  color: #23B5AF;
}

.footer__copyright {
  color: #B2CCCC;
}

/***********************
HEADER
***********************/

.header-main {
  background-color: rgba(58,58,60,0.8);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0%;
  text-align: center;
  z-index: 1;
}

.header-main__inner {
  position: relative;
}

.header-main__logo {
  width: 50px;
  position: relative;
}

.header-main__logo_fork img {
  /*display: block;*/
  margin: 0;
  width: 50px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0px;
}

.header-main__logo img {
  /*display: block;*/
  margin: 0;
  width: 100%;
  height: auto;
  top: 0;
  left: -23px;
  z-index: 10;
}

.header-main__user-avatar {
  margin-left: 10px;
  top: 7px;
  right: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: none;
  position: absolute;

}

.header-main__user-avatar img {
  margin: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  right: 0;
  top: 0;
  position: absolute;

}

.header-main__user-name {
  margin: 0;
  color: white;
  font-weight: 300;
  right: 50px;
  width: auto;
  height: auto;
  position: absolute;
  top: 15px;

}

/***********************
FORMS
***********************/

.orange {
   color: #ffae19;
}

.green {
   color: #70db70;
}

.star, .usd{
   font-size: 23px;
}

.spacing {
  margin-top: 20px;
}

.camera {
  font-size: 16px;
}
.popup {
  color: #888;
  margin-left: 10px;
  position: absolute;
}

.help-block {
   text-align: center;
}

.icon {
  margin-right: 4vw;
}

.upload {
  background-color: #23B5AF;
  border: #23B5AF;
  margin-bottom: 10px;
}

.upload:hover {
  background-color: #effcfb;
  border: solid 2px #23B5AF;
  color: #23B5AF;
}
/***********************
MAIN
***********************/

.card {
  position: relative;
  background: rgba(255,255,255,0.8);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #888;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}

.card img {
  max-width: 50%;
  max-height: 40%;
}

.card .stars {
  text-align: center;
}
.remove{
  position: absolute;
  top: 5px;
  right: 5px;
  color: #f66;
  font-size: 24px;
  cursor: pointer;
}

.btn.second {
  margin-top: 15px;
}

.directions {
  color: #777;
  text-align: center;
  font-weight: 500;
}
/***********************
MAP
***********************/

.map-google {
  position: relative;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  border: 7px solid rgba(255, 255, 255, .8);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  height: 300px;
  width: 300px;
}

.mapbutton {
  margin-top: 20px;
  margin-bottom: 100px;
}

.mapgreet {
  position: relative;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.mapdiv {
  padding: 5% 0;
  margin: 0 auto;
  width:300px;
  height:auto;
  margin-bottom: 75px;
}

.gm-style-iw {
  text-align: center;
  background-color: #eee;
}

.iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  border-bottom: 1px dashed #ccc;
  text-align: left;
}

.iw-img {
  height: 100px;
  margin: 0 auto;
}

.iw-link {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
  text-align: center;
  margin: 0 auto;
}


/***********************
DISPLAY
***********************/

.center {
  margin: 0 auto 15px;
  text-align: center;
  background: rgba(255,255,255,0.5);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  height: 200px;
}

.slide {
  height: 200px;
  padding-top: 10px;
}
.center div p, .restaurant-name {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.center span div {
  font-size:16px;
  height: 20px;
}

.category {
  color: #C41E3A;
}

.display-missing {
  background: rgba(255,255,255,0.5);
  height: 30px;
  text-align: center;
}

/*.message {
  display: none;
  color: #777;
  text-align: center;
}*/

.message {
  -webkit-animation: seconds 2.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
  animation: seconds 2.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
  position: relative;
  display: none;
  color: #777;
  font-weight: 600;
  text-align: center;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
 
.display-error {
  background: rgba(225,60,88,0.5);
  text-align: center;
  font-size: 15px;
  color: #eee;
  margin-top: 10px;
  display: none;
  width: 100%;
}

.restaurant-name {
  font-size: 12px;
}

.highlighted {
  border: 3px solid rgba(255,174,25,0.7);
}

.display.container {
  top: 0;
  padding: 10px 0;
}

.display.container h4 {
  text-align: center;
  font-weight: bold;
}

.picture {
  cursor: pointer;
  margin: 0 auto;
  height: 50%;
  max-width: 100%;
}

/***********************
Login
***********************/

.fb-logo {
  max-width: 20%;
}


.fb-button {
  font-size: 16px;
}

/***********************
Profile
***********************/

.fb-profile {
  border: 5px solid #FFFFFF;
}

.usr-msg {
  margin-top: 30px;
}

/***********************
Restaurant
***********************/

.glogo {
  position: relative;
  top: -5px;
  height: 30px;
  margin-right: 10px;
}

